body {
    font-family: Arial, sans-serif;
    background-color: #15c361;
    margin: 0;
    padding: 20px;	
}

h1 {
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* #one {
	position: absolute;
	top:0;
	left:0;
	width: 50px;
	height: 50px;
	background-color: red;
	animation: moveAndChangeColor3D 3s infinite ease-in-out;
} */

@keyframes moveAndChangeColor3D {
    0% {	
        transform: translate3d(0px, 0px, 0px) rotate3d(1, 1, 0, 0deg); /* Pas de rotation au début */
    }
    50% {
        transform: translate3d(50px, 200px, -580px) rotate3d(1, 1, 0, 180deg); /* Rotation à 180 degrés sur un axe diagonal */
    }
    100% {
        transform: translate3d(0px, 0px, 0px) rotate3d(1, 1, 0, 360deg); /* Rotation complète sur le même axe */
    }
}

@keyframes moveAndChangeColor3DFast {
    0% {	
        transform: translate3d(0px, 0px, 0px) rotate3d(1, 1, 0, 0deg);
    }
    50% {
        transform: translate3d(50px, 200px, -580px) rotate3d(1, 1, 0, 180deg);
    }
    100% {
        transform: translate3d(0px, 0px, 0px) rotate3d(1, 1, 0, 360deg);
    }
}

@keyframes moveAndChangeColor3DFast2 {
    0% {	
        transform: translate3d(0px, 0px, 0px) rotate3d(1, 0, 0, 90deg);
    }
    50% {
        transform: translate3d(50px, 200px, -580px) rotate3d(1, 1, 0, 180deg);
    }
    100% {
        transform: translate3d(0px, 0px, 0px) rotateX(90deg) rotate3d(1, 1, 0, 360deg);
    }
}

@keyframes moveAndChangeColor3DFast3 {
    0% {	
        transform: translateZ(-100%)  rotate3d(1, 0, 0, 0deg);
    }
    50% {
        transform: translateZ(-500%) rotate3d(1, 1, 0, 180deg);
    }
    100% {
        transform: translateZ(-100%)  rotateX(90deg) rotate3d(1, 1, 0, 360deg);
    }
}

#super_cont {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#cont {
	position: absolute;
	top: 25vh;
	left: 25%;
	width: 50%;
	height: calc(50vh - 2px);
	perspective: 800px;	
	/* background-color: violet; */
}

#cont2 {
	position: absolute;
	top: 25vh;
	left: 25%;
	width: 50%;
	height: calc(50vh - 2px);
	perspective: 800px;	
	/* background-color: violet; */
}

#cont {
	position: absolute;
	top: 25vh;
	left: 25%;
	width: 50%;
	height: calc(50vh - 2px);
	perspective: 800px;	
	/* background-color: violet; */
}

#cont3 {
	position: absolute;
	top: 25vh;
	left: 25%;
	width: 50%;
	height: calc(50vh - 2px);
	perspective: 800px;	
	/* background-color: violet; */
}

.square {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10%;
    height: 10%;
	transform-origin: -00px -00px;
}

#one {
    background-color: red;

    /* width: 10%;
    height: 10%; */
}

#two {
    background-color: orange;	
	top: 10%;
    /* width: 50px;
    height: 50px; */
	/* transform: translateY(50px); */
}

#three {
    background-color: yellow;
	top: 20%;
    /* width: 50px;
    height: 50px; */
	/* transform: translateY(100px); */
}

#four {
    background-color: green;
	top: 20%;
	left: 10%;
    /* width: 50px;
    height: 50px; */
	/* transform: translate(50px, 100px); */
}

#five {
    background-color: blue;
	top: 20%;
	left: 20%;
    /* width: 50px;
    height: 50px; */
	/* transform: translate(100px, 100px); */
}

#six {
    background-color: indigo;
	top: 30%;
	left: 20%;
    /* width: 50px;
    height: 50px; */
	/* transform: translate(100px, 150px); */
}

#seven {
    background-color: rgb(156, 9, 156);
	top: 40%;
	left: 20%;
    /* width: 50px;
    height: 50px; */
	/* transform: translate(100px, 200px); */
}

#eight {
    background-color: pink;
	left: 40%;	
    /* width: 50px;
    height: 50px; */
	/* transform: translate(200px, 0px); */
}

#nine {
    background-color: lightblue;
	left: 50%;	
    /* width: 50px;
    height: 50px; */
	/* transform: translate(250px, 0px); */
}

#ten {
    background-color: lightgreen;
	left: 60%;	
    /* width: 50px;
    height: 50px; */
	/* transform: translate(300px, 0px); */
}

#eleven {
    background-color: coral;
	top: 10%;
	left: 60%;
    /* width: 50px;
    height: 50px; */
	/* transform: translate(300px, 50px); */
}

#twelve {
    background-color: brown;
	top: 20%;
	left: 60%;
    /* width: 50px;
    height: 50px; */
	/* transform: translate(300px, 100px); */
}

#thirteen {
    background-color: lightgrey;
	top: 20%;
	left: 50%;
    /* width: 50px;
    height: 50px; */
	/* transform: translate(250px, 100px); */
}

#fourteen {
    background-color: teal;
	top: 20%;
	left: 40%;
    /* width: 50px;
    height: 50px; */
	/* transform: translate(200px, 100px); */
} 

#fifteen {
    background-color: gold;
	top: 30%;
	left: 40%;
    /* width: 50px;
    height: 50px; */
	/* transform: translate(200px, 150px); */
} 

#sixteen {
    background-color: silver;
	top: 40%;
	left: 40%;
    /* width: 50px;
    height: 50px; */
	/* transform: translate(200px, 200px); */
}

#seventeen {
    background-color: navy;
	top: 40%;
	left: 50%;
    /* width: 50px;
    height: 50px; */
	/* transform: translate(250px, 200px); */
} 

#eighteen {
    background-color: olive;
	top: 40%;
	left: 60%;
    /* width: 50px;
    height: 50px; */
	/* transform: translate(300px, 200px); */
}

/* #cont:hover #one, 
#cont:hover #three, 
#cont:hover #five, 
#cont:hover #seven, 
#cont:hover #nine, 
#cont:hover #eleven, 
#cont:hover #thirteen, 
#cont:hover #fifteen, 
#cont:hover #seventeen {
    animation: moveAndChangeColor3D 3s infinite ease-in-out;
}

#cont:hover #two, 
#cont:hover #four, 
#cont:hover #six, 
#cont:hover #eight, 
#cont:hover #ten, 
#cont:hover #twelve, 
#cont:hover #fourteen, 
#cont:hover #sixteen, 
#cont:hover #eighteen {
    animation: moveAndChangeColor3DFast 1s infinite ease-in-out;
} */

.square2 {
	/* transform-origin: -500px -100px; */
	transform: rotateX(90deg)
}

.square3 {

	transform: translateZ(-100%);
}

#super_cont:hover .square1 {
	animation: moveAndChangeColor3DFast 3s infinite ease-in-out;
}

#super_cont:hover .square2 {
	animation: moveAndChangeColor3DFast2 3s infinite ease-in-out;
}

#super_cont:hover .square3 {
	animation: moveAndChangeColor3DFast3 3s infinite ease-in-out;
}

/* #cont2:hover .square {
	animation: moveAndChangeColor3DFast 3s infinite ease-in-out;
} */

