body {
    font-family: Arial, sans-serif;
    background-color: #15c361;
    margin: 0;
    padding: 20px;
	perspective: 800px; 
}

h1 {
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* #one {
	position: absolute;
	top:0;
	left:0;
	width: 50px;
	height: 50px;
	background-color: red;
	animation: moveAndChangeColor3D 3s infinite ease-in-out;
} */

@keyframes moveAndChangeColor3D {
	0% {
	  background-color: red;
	  transform: rotateY(0deg);
	}
	50% {
	  background-color: blue;
	  transform: rotateY(180deg); /* Rotation 3D sur l'axe Y */
	}
	100% {
	  background-color: green;
	  transform: rotateY(360deg);
	}
  }

#one {
    background-color: red;
    width: 50px;
    height: 50px;
}

#two {
    background-color: orange;
    width: 50px;
    height: 50px;
	transform: translateY(50px);
}

#three {
    background-color: yellow;
    width: 50px;
    height: 50px;
	transform: translateY(100px);
}

#four {
    background-color: green;
    width: 50px;
    height: 50px;
	transform: translate(50px, 100px);
}

#five {
    background-color: blue;
    width: 50px;
    height: 50px;
	transform: translate(100px, 100px);
}

#six {
    background-color: indigo;
    width: 50px;
    height: 50px;
	transform: translate(100px, 150px);
}

#seven {
    background-color: violet;
    width: 50px;
    height: 50px;
	transform: translate(100px, 200px);
}

#height {
    background-color: pink;
    width: 50px;
    height: 50px;
	transform: translate(200px, 0px);
}

#nine {
    background-color: lightblue;
    width: 50px;
    height: 50px;
	transform: translate(250px, 0px);
}

#ten {
    background-color: lightgreen;
    width: 50px;
    height: 50px;
	transform: translate(300px, 0px);
}

#eleven {
    background-color: coral;
    width: 50px;
    height: 50px;
	transform: translate(300px, 50px);
}

#twelve {
    background-color: brown;
    width: 50px;
    height: 50px;
	transform: translate(300px, 100px);
}

#thirteen {
    background-color: lightgrey;
    width: 50px;
    height: 50px;
	transform: translate(250px, 100px);
}

#fourteen {
    background-color: teal;
    width: 50px;
    height: 50px;
	transform: translate(200px, 100px);
} 

#fifteen {
    background-color: gold;
    width: 50px;
    height: 50px;
	transform: translate(200px, 150px);
} 

#sixteen {
    background-color: silver;
    width: 50px;
    height: 50px;
	transform: translate(200px, 200px);
}

#seventeen {
    background-color: navy;
    width: 50px;
    height: 50px;
	transform: translate(250px, 200px);
} 

#eighteen {
    background-color: olive;
    width: 50px;
    height: 50px;
	transform: translate(300px, 200px);
}

.square {
	position: absolute;
	top: 250px;
	left: 500px;	
}

.square:hover {
	animation: moveAndChangeColor3D 3s infinite ease-in-out;
}